.header-main {
  border: 2px solid black;
  border-radius: 10px;
  padding: 0px 15px;

  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: space-between;

  font-size: 20px;
  background-color: #f3f1f3;
  box-shadow: 0 5px 10px rgba(0,0,0,0.5);
  .logo-wraper {
    display: flex;
  }
  div {
    text-shadow: -0.5px 0 #333333, -0.5px 0 #333333, 0.5px 0 #333333, 0.5px 0 #333333;
    text-align: center;
    text-transform: uppercase;
  }
  .logo-img {
    margin: 30px 5px;
  }
}

// span {
//     text-shadow: -1px 0 #000, -1px 0 #000, 1px 0 #000, 1px 0 #000;
//     font-size: 30px;
// }
