/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Gabriela&subset=cyrillic,cyrillic-ext');

body {
  font-family: 'Gabriela', serif;
  background: url("assets/images/backgroung.svg") no-repeat fixed 50% 60%;
  background-size: 100% 100%;
  background-color: #f3f1f3;
}
